html {
    scroll-behavior: smooth;
}

#header-section {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(../images/Caló-des-Moro.jpg);
    background-position: center center, center center;
    background-size: cover, cover;
    background-repeat: repeat, repeat;
}

#second-section{
    background-color: beige;
}

.text-in-white{
    color: cadetblue;
}

#parallax-section {
    background-image: url(../images/spain-mallorca-port-de-soller-horseshoe-harbour-wallpaper-preview.jpg);
    background-position: right bottom;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

#footer-section {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(../images/azul.webp);
    background-position: center center, center center;
    background-size: cover, cover;
    background-repeat: repeat, repeat;
}